
html {
  height: 100%;
}
body {
  background: #555555;
  color: #aaaaaa;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Inconsolata', monospace;
  font-size: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: #aaaaaa;
}
a:hover {
  color: #ffffff;
}
hr {
  background: #444444;
  border: none;
  color: #0097d3;
  height: 5px;
  margin: 2em 0 1em;
}
h1, h2, h1 a, h2 a {
  color: #0097d3;
}
h1 {
  font-size: 180%;
  text-transform: uppercase;
}
h2 {
  font-size: 120%;
}
.nav {
  float: right;
  margin-top: 1em;
}
.nav a {
  color: #aaaaaa;
  display: inline-block;
  font-size: 120%;
  padding: 0.5em;
  text-decoration: none;
}
.nav a:hover {
  color: #0097d3;
}
.container {
  background: #333333;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 950px;
}
.container .left {
  float: left;
  width: 30%;
}
.container .left img {
  width: 100%;
}
.container .right {
  float: left;
  width: 70%;
}
.container .right .row {
  margin: 0 1em;
}
img.linked-in {
  position: relative;
  top: 4px;
  width: 22px;
}
ul li {
  margin-bottom: 1em;
}